<div class="container">
    <div class="row">
      <div class="span3">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-th-large"></i>
                <h3>Profile</h3>
            </div>

            <div class="widget-content">
                <p class="lead">Hello User,</p>
                <span>Your Slide Stats</span>
                <ul class="slide-stats">
                  <li><span class="badge badge-inverse">1</span> Draft</li>
                  <li><span class="badge badge-warning">1</span> Pending Review</li>
                  <li><span class="badge badge-success">2</span> Online</li>
                  <li><span class="badge badge-important">1</span> Offline</li>
                  <li><span class="badge">6</span> Expired</li>
                </ul>
            </div>
        </div>
        <div class="widget">
            <div class="widget-header">
                <i class="icon-th-large"></i>
                <h3>Navigation</h3>
            </div>

            <div class="widget-content">
              <div class="shortcuts">
                <a href="javascript:;" class="shortcut">
                  <i class="shortcut-icon icon-list-alt"></i>
                  <span class="shortcut-label">Slides</span>
                </a>

                <a href="javascript:;" class="shortcut">
                  <i class="shortcut-icon icon-bookmark"></i>
                  <span class="shortcut-label">Submit</span>
                </a>

                <a href="javascript:;" class="shortcut">
                  <i class="shortcut-icon icon-signal"></i>
                  <span class="shortcut-label">Edit Profile</span>
                </a>

                <a href="javascript:;" class="shortcut">
                  <i class="shortcut-icon icon-comment"></i>
                  <span class="shortcut-label">Logout</span>
                </a>
              </div>
            </div>
        </div>
      </div>
      <div class="span9">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-inbox"></i>
                <h3>Slides</h3>
            </div>
            <div class="widget-content">
              <div class="ten-filter">
                <!-- <span class="pull-left sort-by">Sort by</span> -->
                <div class="pull-left btn-group">
                  <button class="btn btn-small disabled">Show All</button>
                  <button class="btn btn-small">Hide Expired</button>
                </div>
                <div class="pull-left btn-group">
                  <button class="btn btn-small disabled">Sort By Status</button>
                  <button class="btn btn-small">Sort By Creation</button>
                </div>
              </div>
              <div class="clearfix"></div>
              <br/>
              <div class="ten-slides">
                <ul class="thumbnails">
                  <li>
                    <div class="thumbnail thumbnail-draft">
                      <span class="label label-inverse thumbnail-label">Draft</span>
                      <a href="javascript:;">
                        <img src="http://placehold.it/200x125&text=Slide+Image" alt="">
                        <h5>Slide F</h5>
                        <p></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail thumbnail-pending">
                      <span class="label label-warning thumbnail-label">Pending Review</span>
                      <a href="javascript:;">
                        <img src="http://placehold.it/200x125&text=Slide+Image" alt="">
                        <h5>Slide E</h5>
                        <p></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail thumbnail-online">
                      <span class="label label-success thumbnail-label">Online</span>
                      <a href="javascript:;">
                        <img src="http://placehold.it/200x125&text=Slide+Image" alt="">
                        <h5>Slide D</h5>
                        <p></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail thumbnail-offline">
                      <span class="label label-important thumbnail-label">Offline</span>
                      <a href="javascript:;">
                        <img src="http://placehold.it/200x125&text=Slide+Image" alt="">
                        <h5>Slide D</h5>
                        <p></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail thumbnail-online">
                      <span class="label label-success thumbnail-label">Online</span>
                      <a href="javascript:;">
                        <img src="http://placehold.it/200x125&text=Slide+Image" alt="">
                        <h5>Slide C</h5>
                        <p></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail thumbnail-expired">
                      <span class="label thumbnail-label">Expired</span>
                      <a href="javascript:;">
                        <img src="http://placehold.it/200x125&text=Slide+Image" alt="">
                        <h5>Slide B</h5>
                        <p></p>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <div class="pagination">
                  <ul>
                    <!-- <li><a href="javascript:;">Prev</a></li> -->
                    <li><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
