<div class="container">
    <div class="row">
      <div class="span12">
        <div class="login-box">
            <form name="input" action="/dashboard" method="POST">
              <h3>Login to TEN</h3>
              <input type="text" placeholder="Username or Email"><br/>
              <input type="password" placeholder="Password"><br/>
              <button type="submit" class="btn btn-info">Submit</button></br>
              <small><a href="#forgot">Forgot Password</a></small>
            </form>
            <hr/>
            <form name="input" action="/login" method="POST">
              <h3>Registration</h3>
              <input type="text" placeholder="First Name"/><br/>
              <input type="text" placeholder="Last Name"/><br/>
              <input type="text" placeholder="Email Address"/><br/>
              <input type="password" placeholder="Password"/><br/>
              <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
      </div>
    </div>
</div>