<div class="container">
  <div class="row">
    <div class="span12">
      <div class="widget">
        <div class="widget-header">
          <i class="icon-th-large"></i>
          <h3>Slide Submission</h3>
        </div>

        <div class="widget-content">
          <div class="span7">
            <form class="form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="focusedInput">Slide Title</label>
                  <div class="controls">
                    <input class="input-xlarge focused" id="focusedInput" type="text" value="Title">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Slide Description</label>
                  <div class="controls">
                    <textarea rows="3"></textarea>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Options</label>
                  <div class="controls">
                    <label class="checkbox inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1">option 1</input>
                    </label>
                    <label class="checkbox inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2">option 2</input>
                    </label>
                    <label class="checkbox inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3">option 3</input>
                    </label>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="selectError3">Slide Categtory</label>
                  <div class="controls">
                    <select id="selectError3">
                      <option>Event</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="selectError1">Display Location</label>
                  <div class="controls">
                    <select id="selectError1" multiple data-rel="chosen">
                      <option>FDA #1</option>
                      <option selected>FDA #2</option>
                      <option selected>Trottier #1</option>
                      <option>Trottier #2</option>
                      <option>McConnell #1</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Upload Slide</label>
                  <div class="controls">
                      <input type="file">
                      <span class="help-block">Accepted file extensions: JPG, PNG, PPT</span>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Send for Approval</button>
                  <button class="btn btn-danger">Save as Draft</button>
                  <button class="btn">Cancel</button>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="span4">
            <ul class="thumbnails">
              <li>
                <a href="#" class="thumbnail">
                  <img src="http://placehold.it/300x200&text=Upload+Preview" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
